#author-pages {
  clear: both;
}
.web__half {
  width: 50%;
  box-sizing: border-box;
  float: left;
  padding: 0.5em 0.75em;
}
.web__half:first-child {
  background-color: #eee;
}
.page__list {
  padding: 0;
  margin: 0;
  margin-left: 1em;
}
.web-page {
  margin: .5em;
  margin-right: 1.5em;
  float: left;
}
.web-page div {
  width: 8em;
  height: 10em;
  padding: 1em;
  background-color: #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px;
}

.web-page div p {
  margin: auto;
  width: 90%;
  height: 9em;
}
.host__button {
  float: right;
  margin: 0.5em 0;
}
.word__header {
  border-top: 2px solid #ccc;
}
.header__adj {
  margin-top: 2em;
}