li.web-page {
  margin: .5em;
  margin-right: 1.5em;
  float: left;
}

li.web-page div {
  width: 8em;
  height: 11em;
  background-color: #777;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; 
  -khtml-border-radius: 10px;
}

li.web-page div p {
  margin: auto;
  width: 90%;
  height: 9em;
}

section#author-pages {
  clear: both;
}