<div ng-controller="WebCtrl">
  <div class="web__half">
    <h2>The Web</h2>
    <section id="author-pages">
      <h3>Write a Web Page</h3>
      <textarea ng-model="newPage"></textarea>
      <button ng-click="authorWebPage(newPage)">Host It!</button>
    </section> 
    <section id="pages">
      <h3>All the Pages on the Web</h3>
      <ol>
        <li class="web-page" ng-repeat="page in pages">
          <div>
            <p>{{page}}</p>
          </div>
        </li>
      </ol>
    </section>
  </div>
  <div ng-controller="SearchengineCtrl" class="web__half">
    <h2>A Search Engine</h2>
    <input ng-model="query" ng-change="searchWeb(query)">
    <h3>Its Database</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Words</th><th>Page</th><th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="(word, entry) in database">
          <th>{{word}}</th><th></th><th></th>
        </tr>
        <tr ng-repeat="data in entry">
          <td>
          
          </td>
          <td ng-repeat="(key, val) in data">
            {{val}}
          </td>
        </tr>
        <tr ng-repeat-end ng-hide="true"></tr>
      </tbody>
    </table>
  </div>
</div>