<div ng-controller="WebCtrl">
  <h2>All the Pages on the Internet</h2>
  <ol>
    <li ng-repeat="page in pages">"{{page}}"</li>
  </ol>
  <h3>Write a Web Page</h3>
  <textarea ng-model="newPage"></textarea>
  <button ng-click="authorWebPage(newPage)">Host It!</button>
  <div ng-controller="SearchengineCtrl">
    <h2>A Search Engine</h2>
    <input>
    <h3>Its Database</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Words</th><th>Page</th><th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="(word, entry) in database">
          <th>{{word}}</th><th></th><th></th>
        </tr>
        <tr ng-repeat="data in entry">
          <td>
          
          </td>
          <td ng-repeat="(key, val) in data">
            {{val}}
          </td>
        </tr>
        <tr ng-repeat-end ng-hide="true"></tr>
      </tbody>
    </table>
  </div>
</div>