<div ng-controller="WebCtrl">
  <div class="web__half">
    <h2>The Web</h2>
    <section id="author-pages" class="clearfix">
      <h3>Write a Web Page</h3>
      <textarea ng-model="pageText" class="web__entry form-control"></textarea>
      <button ng-click="authorWebPage(pageText)" class="btn btn-success host__button">Host It!</button>
    </section> 
    <section id="pages">
      <h3 class="header__adj">All the Pages on the Web</h3>
      <ol class="page__list">
        <li class="web-page" ng-repeat="page in pages" ng-show="relevantPages.indexOf($index) != -1">
          <div>
            <p>{{page.text}}</p>
          </div>
        </li>
      </ol>
    </section>
  </div>
  <div ng-controller="SearchengineCtrl" class="web__half">
    <h2>A Search Engine</h2>
    <input ng-model="query" ng-change="searchWeb(query)" class="form-control">
    <h3 class="header__adj">Its Database</h3>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Words</th><th>Page</th><th>Position</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="(word, entry) in database"  ng-show="queryWords.indexOf(word) != -1" class="word__header">
          <th>{{word | uppercase}}</th><th></th><th></th>
        </tr>
        <tr ng-repeat="data in entry" ng-show="queryWords.indexOf(word) != -1">
          <td>
          
          </td>
          <td ng-repeat="(key, val) in data"do>
            {{val}}
          </td>
        </tr>
        <tr ng-repeat-end ng-hide="true"></tr>
      </tbody>
    </table>
  </div>
</div>